In [ ]:
#문자열 슬라이싱 하는 방법

In [1]:
head = "Python"
tail = " is fun!"
head+tail

'Python is fun!'

In [2]:
a= "Python"
a*2

'PythonPython'

In [4]:
a= 'Life is too short'
len(a)

17

In [5]:
a= 'Life is too short, Yoo need Python'

In [6]:
a[3]

'e'

In [12]:
a[:-1]

'Life is too short, Yoo need Pytho'

In [18]:
a ='200331Rainy'
date = a[:]
weather = a[8:]
weather

'iny'

In [ ]:
#문자열 포매팅 하는 방법

In [19]:
"I eat %d apples." %3

'I eat 3 apples.'

In [20]:
"I eat %s apples." %"five"

'I eat five apples.'

number = 3
"I eat %d apples." %number

In [28]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number,day)

'I ate 10 apples. so I was sick for three days.'

In [29]:
"I have %s apples" %3

'I have 3 apples'

In [30]:
"Rate is %s" %3.234

'Rate is 3.234'

In [31]:
"Rate is %s%%" %3

'Rate is 3%'

In [32]:
"%10s" %"hi"

'        hi'

In [33]:
"%-10s" %"hi"

'hi        '

In [34]:
"%0.4f" %3.42134234

'3.4213'

In [35]:
"%10.4f" %3.42134234

'    3.4213'

In [36]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [37]:
"I eat {0} apples". format("five")

'I eat five apples'

In [38]:
number = 3
"I eat {0} apples". format(number)

'I eat 3 apples'

In [39]:
number= 3
day ="three"

"I ate {0} apples. so I was sick for three days".format(number, day)

'I ate 3 apples. so I was sick for three days'

In [40]:
"I ate {number} apples. so I was sick for {day} days.". format(number=3,day="three")

'I ate 3 apples. so I was sick for three days.'

In [41]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [42]:
"{0:<10}".format("hi")

'hi        '

In [45]:
"{0:>10}".format("hi")

'        hi'

In [49]:
"{0:=^10}".format("hi")

'====hi===='

In [51]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [52]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [56]:
"{0:10.4f}".format(y)

'    3.4213'

In [60]:
"{{ and }}".format()

'{ and }'

In [62]:
name = "홍길동"
age = 30

f'나의 이름은 {name} 입니다. 나이는 {age}입니다'

'나의 이름은 홍길동 입니다. 나이는 30입니다'

In [65]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [68]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [70]:
f'{"hi":<10}'

'hi        '

In [75]:
f'{"hi":>10}'

'        hi'

In [76]:
f'{"hi":^10}'

'    hi    '

In [77]:
f'{"hi":=^10}'

'====hi===='

In [80]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [82]:
y=3.142342
f'{y:0.4f}'

'3.1423'

In [83]:
f'{y:10.4f}'

'    3.1423'

In [85]:
f'{{ and }}'

'{ and }'

In [88]:
a="hobby"
a.count('b')

2

In [90]:
a="Python is the best choice"
a.find('b')

14

In [91]:
a.find('k')

-1

In [92]:
a = "Life is too short"
a.index('t')

8

In [93]:
a.index('k')

ValueError: substring not found

In [94]:
",".join('abcd')

'a,b,c,d'

In [95]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [96]:
a = "hi"
a.upper()

'HI'

In [98]:
a = "HI"
a.lower()

'hi'

In [100]:
a= "   hi"
a.lstrip()

'hi'

In [102]:
a= "hi      "
a.rstrip()

'hi'

In [103]:
a= "    hi    "
a.strip()

'hi'

In [104]:
a="Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [105]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [108]:
b= "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']